*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Tahoma', 'Arial', sans-serif;
}


li{
    list-style-type: none;
}

.carousel-wrapper a{
    text-decoration:none;
    display: inline-block; 
    width: 60px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    background: lightgrey;
    color: black;
    border: 1px solid grey;
    margin: 25px;
}

.carousel-wrapper a:active{
    background: grey;
}


.carousel-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carousel-hide ul{
    display: flex;
    padding: 0;
    position: relative;
}

.carousel-hide{
    width: 600px;
    overflow: hidden;
}

.carousel{
    display: block;
    margin-right: 25px;
}

.carousel img{
    width: 100px;
    height: 75px;
}

/*2*/

.img img {
    height: 150px;
    width: 150px;
}

.page {
	margin: 0 auto;
    width: 500px;
    text-align: center;
}

.page h1 { 
	text-align: center;
	text-transform: uppercase; /* Все символы текста становятся прописными */
}

.page p,
.page ul,
.img{
    margin-bottom: 20px;	
}