@media all and (min-width: 768px){
    
    .wrapper{ 
       min-width: 768px;
       max-width: 959px
        
    }
    
    .pingbull{
        text-align: left;
        padding-top: 15px;
        margin-left: 15%
}
    .menu{
	    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        visibility: visible;
        width: 80%;
        border-radius: inherit;
    }
    
    .menu:hover{
        background-color: transparent;  
    }

    .menu_item{
        webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        background-color: transparent;
        border-bottom: inherit;
        -webkit-box-shadow: none;
            box-shadow: none; 
    }

    .slide_main{
        width: 33%;
        padding-top: 40px;
        margin-right: 20px;
        text-align: justify;
    }

    .slide p{
        display: block;
        font-size: 18px;
        color: #ffffff;
        text-align: justify;
        padding: 1%;
    }
    .slide_main:before{
        left: 10%;
        top: 25%;
}

   .slide_main:after{
        left: 80%;
        top: 25%;
}
    
    .company{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    } 

    .company_about{
        margin-right: 2%;
    }
    
    .company_about:last-child{
        margin-right: 0;
    }
    
    .main_group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;           
    }
    
    .main_block{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        width: 60%; 
    }
    
    .blog_section{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        width: 40%;
        margin-right: 6%;
    }
    
    .ad_aside{
        width: 80%;   
    }
    
    .ad-link{
       width: 16%; 
    }
    
    .pingbull--mod{
       text-align: left;
    margin-left: 0;
    }

}
