*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'LeagueGothic', 'Open Sans', sans-serif;
    min-height: 100vh;
}

.wrapper{ 
    min-width: 320px;
    max-width: 479px;
    margin: 0 auto;
}

.logo{
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.logo_header{
    color: #ffffff;
    height: 140px;
    position: relative;
}

.pingbull{
    padding-top: 15px;
    margin: 0;
    font-size: 48px;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    text-align: center;
}

.pingbull_span{
    color: #382940; 
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;  
}

.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
	   align-items: center;
	border: 1px solid rgba(5, 17, 22, 0.8);
	border-radius: 5px;
	overflow: hidden;
}

.menu:hover{
    visibility: visible;
    background: rgba(61,48,69,.8);  
}

.menu:hover .menu_link{
    display: block;
}

.menu:hover .menu_link--initial{
    display: block;
    text-shadow: none;
    border: 0;
}

.menu_item{
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background-color: rgba(54, 41, 62, 0.9);
    border-bottom: 1px solid rgba(53, 39, 61, 0.9);
    -webkit-box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
    box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);  
}

.menu_link{
	color: #fefefe;
    text-align: center;
	font-size: 18px;
	line-height: 24px;
    height: 24px;
	text-transform: uppercase;
	text-decoration: none;
    white-space: nowrap;
}

.menu_link:hover{
    display: block;
    background-color: #13070C;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid #edbfff;
}

.menu_link:hover menu_link--initial{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid #edbfff;
}

.menu_link--initial{
    visibility: visible;
    padding: 0 5px;
    border-bottom: 2px solid #edbfff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.slider{
    padding: 1px;
}

.slide_main:before{
    content: ' ';
    background: url(../img/sprite.png) 1px -68px no-repeat;
    position: absolute;
    left: 10%;
    top: 16%;
    width: 25px;
    height: 45px;
}

.slide_main:after{
    content: '';
    background: url(../img/sprite.png) -26px -68px no-repeat;
    position: absolute;
    left: 82%;
    top: 16%;
    width: 30px;
    height: 45px;
}

.slider_cercl{
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}

.slider_cercl input{
    margin-right: 5px;
}

.slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        justify-content: center;
    background-color: rgba(40,40,40,0.4);
}

.slide_main{
    overflow: hidden;
    text-align: center;
    width: 70%;
}

.slide_img{
    display: none;
}

.slider h3{ 
    color: #ffffff;
    font-size: 32px;
    padding-left: 1%;
}

.slide p{
    display: none;
}

.slider h4{
    color: #edbfff;
    font-size: 18px;
    padding-left: 1%;
}

.slider_article{
    color: #e3b8f5;
    font-size: 24px;   
}

.company{
    background: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
    background: linear-gradient(to top, #322539, #745083);
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}  

.company_about{
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    color: #ffffff; 
    text-shadow: 1px 1px #0f1518;
    width: 50%;
    margin-bottom: 20px;
}

.company_img{
    background: url(../img/sprite.png) -156px -81px no-repeat;
    height: 33px;
    float: left;
    width: 33px;
}

.company_about h4{
    font-family: 'LeagueGothic';
    font-size: 18px;
    text-transform: uppercase;
}

.company_about p{
    height: 94px;
    font-family: 'OpenSans';
    font-size: 16px;
    overflow: hidden;
    text-align: justify;
}

.company_link{
    font-family: 'LeagueGothic';
    font-size: 12px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
}

.company_link:hover{
    text-shadow: 0 0 8px rgba(255,255,255,.8);
    text-decoration: none;
}

.main{
    background: #f9f9f9;
    padding-top: 20px;
    text-align: center;
}

.main_block{
   position: relative;
}

.main_block > input{
    position: relative;
}

.block_article{
    background-color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 220px;
    width: 60%;
    overflow: hidden;
}

.block_article h4{
    padding-left: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
    white-space: nowrap;
}

.block_article span{
    display: block;
    color: #edbfff;  
}

.block_article p{
    font-size: 16px;
    color: #454545;
    padding-top: 5px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: justify;
}

.article_img{
    background: url(../img/sprite.png) -65px -175px no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 12%;
}

.blog_section{
    width: 65%;
    margin: auto;
    margin-bottom: 5%;
}

.blog_section h4{
    font-size: 30px;
    font-weight: bold;
}

.blog_section h5{
    font-size: 16px;
    font-weight: bold;
    color: #454545;
    padding-left: 25%;
    height: 20px;
    overflow: hidden;
    margin-top: 3%;
}

.blog_section p{
    font-size: 12px;
    color: #454545;
    padding-left: 25%;
    height: 25px;
    overflow: hidden;
    padding-top: 9px;
}

.blog_item{
    background: url(../img/sprite.png) 10px -115px no-repeat;
    height: 15%;
    overflow: hidden;
}

.blog_link{
    display: block;
    font-size: 14px;
    color: #454545;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    text-align: right;
}

.line{
    border: solid 1px #e6e6e6;
    height: 1px;
    margin-bottom: 5%;
}

.ad_aside{
    display: inline-block;
    width: 65%;
    margin-bottom: 3%;   
}

.ad-link_one{
    background:url(../img/sprite.png) 0 -300px no-repeat;
    float: left;
    height: 69px;  
    width: 50%;
}

.ad-link_two{
    background:url(../img/sprite.png) -135px -300px no-repeat;
    float: left;
    height: 69px;
    width: 50%;
}

.ad-link_three{
    background:url(../img/sprite.png) -270px -300px no-repeat;
    float: left;
    height: 69px;
    margin-top: 10px;
    width: 50%;
}

.ad-link_four{
    background:url(../img/sprite.png) -393px -300px no-repeat;
    float: left;
    height: 69px;
    margin-top: 10px;
    width: 50%;  
}

.ad-link_five{
    background:url(../img/sprite.png) -527px -320px no-repeat;
    height: 30px;
    float: left;
    margin-top: 10px;
    width: 50%;
}

.ad-link_six{
    background: url(../img/sprite.png) -686px -308px no-repeat;
    height: 69px;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.nav_footer{
    clear: both;
    background: url(../img/foot.png) top no-repeat;
    background-size: cover;
}

.footer_sign{
    padding: 2% 0 5% 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}

.footer_sign span{
    font-weight: bold;
}

.page,
.menu--footer{
    display: none;
}
