<!DOCTYPE html>
<html>
    <head>
        <title>checkbox</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="js/jquery.carousel.js"></script>
        <script src="js/template.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body> 
        <script type="text/template" id="test">
        <div class="page">
			<h1><%= name %></h1>
			<p class="img"><img src="<%= img %>" alt=""></p>
			<p class="exist"><%= position %></p>
			<h3><%= reason %></h3> 
			<ul class="center">
				<li><%= reason1 %></li>
				<li><%= reason2 %></li>    
			</ul>
			<h3><%= contact %></h3>
			<p class="center"><%= phone %></p>
			<h3><%= page %></h3>
			<p><a href="<%= link %>"><%= facebook %></a></p>
		</div>
        </script>
        <div class="wrapper">
            <div class="carousel-wrapper">
                <a href="#" class="carousel-control-prev" href="#">PREV</a>
                <div class="carousel-hide">
                    <ul class ="carousel-list">
                        <li class="carousel">
                            <img src="img/1.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/2.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/3.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/4.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/5.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/6.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/7.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/8.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/9.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/10.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/11.jpg" alt="">
                        </li>
                        <li class="carousel">
                            <img src="img/12.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <a href="#" class="carousel-control-next" href="#">NEXT</a>
            </div>
        </div>
    </body>
</html>