<!DOCTYPE html>
<html>
   <head>
      <title>Заголовок документа</title>
      <meta charset="UTF-8">
	  <link href="css/bootstrap.css" rel="stylesheet">
       <style>
            li { 
                list-style-type: none;
            }
        </style>
   </head>
   <body>
	<div id="root">
        <h1 class="text-center">Тест по программированию</h1>
        <form class="text-center" id="test">
            <script type="text/template" id="template">
                <% for (var i = 0; i < data.length; i++) { %>
                <h3><%= data[i].title %></h3>
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" name="" id="q<%= i+1 %>a1"><%= data[i].answers[0].answer %></label>
                    <label class="checkbox-inline"><input type="checkbox" name="" id="q<%= i+1 %>a2"><%= data[i].answers[1].answer %></label>
                    <label class="checkbox-inline"><input type="checkbox" name="" id="q<%= i+1 %>a3"><%= data[i].answers[2].answer %></label>
                </div>
                <% } %>
            </script>
            <button class="bg-info btn btn-lg" id="checkresult">Проверить мои результаты</button>
        </form>
    </div>
       <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="script/js.js"></script>
   </body>
</html>