*{
    margin: 0; 
	padding: 0;
    box-sizing: border-box;
}

body{
	background: gray; 
	font-family: 'News Gothic SB Roman', 'Tee Franklin Medium', 'Guarda Sans', sans-serif;
}

.background{
    width: 1060px;
	background: #ffffff;
	padding: 45px;
    margin: 0 auto;
}

.logo{
	font-size: 40px;
    margin-bottom: 40px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.menu{
	background: linear-gradient(to top right, #454444, #5e5e5e);
	width: 970px;
    font-size: 0;
}

.menu-item{
	display: inline-block;
	width: 12%;
}

.menu-link{
	color: #ffffff;
	display: block;
    height: 40px;
	line-height: 40px;
    font-size: 15px;
	text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    border: 1px solid transparent;
}

.menu-link:hover{
	background: #393939; /* Цвет фона под ссылкой */ 
    border-color: #838383;
}

.container{
    padding: 40px 0 50px 0;
}
     
.left_menu{
    display: inline-block;
	width: 240px;
    vertical-align: top;
}

.left_menu-item {
	border: 1px solid #c8c8c8;
}

.left_menu-link {
	color: #656363;
	display: block; /* Ссылка как блочный элемент */
    font-size: 15px;
    height: 40px;
    line-height: 40px;
	text-indent: 20px;
}

.left_menu-link:hover {
	background-color: #f9f9f9;
	padding-left: 35px;
	color: #2c2c2c;
}

.main{
    display: inline-block;
    width: 725px;
    text-align: center;
    
}

.frame{
    display: inline-block;
    border: 1px solid #c8c8c8;
    padding: 30px;
}

.image-text{
    color: #2c2c2c;
	text-align: justify;
    font-size: 13px;
    padding: 30px 40px 0 50px;
}

.footer{
	background: #e1e1e1;
}

.footer-nav{
    display: inline-block;
    width: 80%
}
.nav-item{
    width: 15%;
}

.nav-link{
	color: #2c2c2c;
    text-shadow: none;
}

.nav-link:hover {
	text-decoration: underline;
    background: none; 
    border-color: transparent;
}

.copyright{
    display: inline-block;
    color: #2c2c2c;
    font-size: 15px;
    width: 20%;
}

