@media all and (min-width: 480px){

    .wrapper{ 
       min-width: 480px;
       max-width: 768px  
    }

    .slide_img{
        display: block;
        max-width: 25%;
        top: 50px;
    }

    .slide_img img{
        max-width: 100%; 
        display: block;
        margin-top: -10%;
    }

    .slide_main{
        padding-top: 40px;
        width: 55%;
    }
    
    .block_article h4{
        padding-left: 3px;
    }

    .block_article span{
        display: inline; 
    }
    
    .slide_main:before{
        left: 5%;
        top: 20%;
    }

.slide_main:after{
        left: 90%;
        top: 20%;
    }

    .ad_aside{
        width: 65%;   
    }
    
    .ad-link{
       width: 33%; 
    }

    .ad-link_three{
        margin-top: 0;
    }

    .page{
        display: flex;
        border-top: 1px solid #d8d8d8;
        background: #ececec;
        font-size: 14px;
        color: #787878;
        text-shadow: 1px 1px #fff;
    }
    
    .pingbull--mod{
       padding-top: 3%;
       text-align: left;
    }
    
    .pingbull_span--mod{
        color: #b9b9b9;
        text-shadow: 0 1px #fff;
    }
    
    .page_copy{
        font-family: Georgia;
        font-size: 16px;
        font-style: italic;
        color: #c5c5c5;
        text-shadow: 1px 1px #fff;           
    }
    
    .company_about--mod p{
        color: #787878;
        text-shadow: 1px 1px #fff;  
    }
    
    .company_about--mod h4{
        color: #454545;  
    }
    
    .menu--footer{
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        border: inherit;
        border-radius: inherit;
        width: 100%;
        text-transform: uppercase;
        padding: 5px;
    }
    
    .menu--footer:hover{
        background: none;  
}
    .menu_item-footer{
        background-color: transparent;
        border-bottom: inherit;
        box-shadow: none;
    }
        
    .menu_link--footer:hover{
        background-color: transparent;
        text-shadow: 1px 2px 2px rgba(0,0,0,.4);
        border-bottom: none;
}

    .menu_link--footer{
        color: #ffffff;
    }
}