@font-face{
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 1057px;
    margin: 0 auto;
    top: 60px;
    width: 1215px;
}

.wrapper{
    height: 1057px;
    position: absolute;
    top: 60px;
    width: 1215px;
}

li{
    list-style-type: none;
}

.menu{
    background: #074e8c;
    box-sizing: border-box;
    height: 35px;
    padding-left: 405px;
    position: relative;
    width: 1215px;
}

.menu li{
    color: #4e9ed5;
    display: inline-block;
    float: left;  
}

a{
    text-decoration: none;
}

.menu li a{
    box-sizing: border-box;
    color: #4e9ed5;
    display: block;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px; 
}

.menu li a:hover{
    background: #4eabda;
    color: #ffffff;
}
.menu-line{
    border-right: 2px solid #56a2dc;
}


.flag{
    background: url(../img/img-3.png) 7px 5px no-repeat;
    float: left;
    height: 34px;
    margin-left: 15px;
    width: 30px;
}

.menu_flag{
    border: 1px solid transparent;
    float: left;
    line-height: 33px;
    text-align: center;
    width: 180px;    
}

.menu div:hover{
    background: #48a2d6;
    border: 1px solid #479bd4;
}

.menu_ola{
    border: 1px solid transparent;
    float: left;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    width: 195px;
}

.menu_ola a:hover{
    text-decoration: underline;
}

.menu div span, a {
   color: #ffffff;    
}

.Background{
    background: url(../img/img-4.jpg), center, repeat-x; 
    clear: both;
    height: 1030px;
    position: absolute;
    width: 1215px;
}

form{
    background: rgba(69, 78, 80, 0.5); 
    color: #ffffff;
    height: 613px;
    position: absolute;
    left: 50%;
    margin: -280px 0 0 -280px;
    top: 50%;
    text-align: center; 
    width: 560px;
}

h3{
    border-bottom: 2px solid rgba( 190, 199, 180, 0.6);
    padding-bottom: 10px;

}

.face input{
    border-top: 1px solid #7789b7;
    border-radius: 5px;
    height: 35px;
    width: 276px;
}

fieldset{
    border-top: 2px groove threedface;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 240px;
    margin: 0 auto;
}

legend{
    color: #999999;
    padding: 5px;
    text-align: center;
}

input{
    background: rgb(15, 14, 14); 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #474747;
    color: #cccccc;
    height: 35px;
    width: 276px;
}

.name input[type=text]{
    border-bottom: 1px solid #689bcc;
    text-align: left; 
}

.name input[type=text]:focus,
.name input[type=text]:hover{
    background: rgb(27,82,136);
    box-shadow:
    0 0 2px 3px rgba(104,155,205,0.5),
    0 0 1px 3px rgba(0,0,0,0.1);
} 

p input[type=text]{
    border: none;
    text-indent: 18px;
}

p input[type=checkbox]{
    height: 13px;
    padding-top: 20px;
    width: 13px;
}

label{
    color: rgba(255,255,255, 0.9);
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
}

p button[type=submit]{
    color: rgb(255,255,255);
    background-color: #48a3d7;
    border: 1px solid #6bb8e7;
    border-radius: 2px;
    height: 35px;
    width: 153px; 
}

.text{
    color: rgba(255,255,255, 0.9);
    font-size: small;
    padding-top: 15px;
    width: 312px;
}
