*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    min-height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    background: url(../img/img-4.jpg) no-repeat;
    color: #ffffff;
}

.wrapper{
    min-height: 100vh;
    width: 1215px;
}

li{
    list-style-type: none;
}

.menu{
    float: left;
    background: #074e8c;
    width: 1215px;
    padding-left: 230px;
}

.clearfix:after{
	display: block;
	content: '';
    clear: both;
	visibility: hidden;  
}

.menu-nav{
    float: left;
    width: 600px;
    position: relative;
}

.menu-item{
    float: left;
    color: #4e9ed5;
    width: 20%;
    text-align: center;
}

.menu-item:last-child:after{
    display: inline-block;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #56a2dc;
    position: absolute;
    top: 10%;
    left: 100%;
}

a{
    text-decoration: none;
    color: #ffffff; 
}

.menu-link{
    color: #4e9ed5;
    display: block;
    height: 35px;
    line-height: 35px;
}

.menu-link:hover{
    background: #4eabda;
    color: #ffffff;
}

.fa-flag{
    padding-top: 2px;
    float: left;;
}

.menu_flag{
    float: left;
    width: 155px;
    margin-left: 20px;
}

.flag_link{
    display: block;
    height: 35px;
    line-height: 35px; 
    text-align: center;
    border: 1px solid transparent;
}

.flag_link:hover,
.menu_ola:hover{
    background: #48a2d6;
    border: solid 1px #449ad3;
}

.menu_ola{
    float: left;
    border: 1px solid transparent;
}

.ola_link{
    float: left;
    width: 80px;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.ou_link{
    width: 100px;
}

.link:after{
    content: 'Entrar';
    text-decoration: underline;
}

.ou_link:after{
    content: 'Cadastre-se';
    text-decoration: underline;
    clear: left;
}

.background{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 560px; 
}

.form-header{
    border-bottom: 2px solid rgba( 190, 199, 180, 0.6);
    background: rgba(69, 78, 80, 0.5); 
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin-bottom: 3px;
}

form{
    background: rgba(69, 78, 80, 0.5); 
    color: #ffffff;
    height: 580px;
    text-align: center;
    padding-top: 35px;  
}

.facebook{
    border-top: 1px solid #7789b7;
    border-radius: 5px;
    background-color: #334b87;
    width: 276px;
    text-align: center;
    margin: 0 auto;
}

.fa-facebook{
    float: left;
    width: 30px;
    padding-top: 1px;
}

.facebook-link:before {
    float: left;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #4c68a9;
}

.fa-chevron-right {
    float: left;
    padding-top: 10px;
    height: 30px; 
}

.facebook-link{
    border-left: 1px solid #7789b7;
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 200px;
}

fieldset{
    border: none;
    width: 240px;
    margin: 0 auto;
    margin-top: 30px;
}

.legend{
    margin: 0 auto;
    color: #999999;
    width: 280px;
}

.legent_line:before{
  margin-right: 10px;
  display: inline-block;
  width: 117px;
  height: 2px;
  content: "";
  vertical-align: middle;
  background: linear-gradient(to bottom, #666666 0%,#000000 100%);
}

.legent_line:after{
  margin-left: 10px;
  display: inline-block;
  width: 117px;
  height: 2px;
  content: "";
  vertical-align: middle;
  background: linear-gradient(to bottom, #666666 0%,#000000 100%);
}

input{
    background: rgb(15, 14, 14); 
    border-top: none;
    border-left: none;
    border-right: none;
    color: #cccccc;
    height: 35px;
    width: 276px;
    margin-top: 15px; 
}

.user{
    border-bottom: 1px solid #689bcc;
    border: none;
    text-indent: 18px;
}

.user:focus,
.user:hover{
    background: rgb(27,82,136);
    box-shadow:
    0 0 2px 3px rgba(104,155,205,0.5),
    0 0 1px 3px rgba(0,0,0,0.1);
} 

input[type=checkbox]{
    height: 13px;
    width: 13px;
    margin-right: 16px;
}

label{
    color: rgba(255,255,255, 0.9);
    text-align: center;
}

button[type=submit]{
    color: rgb(255,255,255);
    background-color: #48a3d7;
    border: 1px solid #6bb8e7;
    border-radius: 2px;
    height: 35px;
    margin-bottom: 15px;
    width: 153px; 
}

.text{
    margin: 0 auto;
    color: rgba(255,255,255, 0.9);
    font-size: 12px;
    width: 300px;
}
