*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    min-height: 100vh;
    font-family: Tahoma, Arial, sans-serif;
    padding: 20px;
}

.wrapper{
    min-height: 100vh;  
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.telephone{
    width: 30%;
    display: flex;
    align-items: center;
    background: url(../img/img-10.png) 3px 8px no-repeat;
	font-size: 16px;
    padding-left: 3%;
}

.telephone-link{
    color: #5e696d;
    margin-right: 5px;
}

.log{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 3px;
    background: url(../img/img-10.png) 3px -23px no-repeat #1c5e7f;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
    border: 1px solid #596d80;
    width: 60%;
    padding: 0 20px;
}

.log-form{
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
}

.form-input{
    box-sizing: border-box;
    color: #a7b0b3;
    width: 120px;
    text-align: justify;
    height: 16px;
    font-size: 10px;
    vertical-align: middle;
}

.input-link{
    color: #ffffff;
    font-size: 12px;
}

.input-line:after{
    display: inline-block;
	content: '';
    background-color: #ffffff;
    width: 1px;
    height: 15px;
    margin-left: 4px;
    vertical-align: middle;
}

.link{
    color: #bfbfbf;
    text-decoration: underline;
}

.back{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    width: 8%;
    margin-left: 5px;
}

.home:before{
    background: url(../img/img-10.png) 0 -60px no-repeat;
    content: '';
    display: block;
    height: 10px;
    width: 16px;   
}

.map:before{
    background: url(../img/img-10.png) 0 -82px no-repeat;
    content: '';
    display: block;
    height: 10px;
    width: 16px;    
}

.envelope:before{
    background: url(../img/img-10.png) 0 -100px no-repeat;
    content: '';
    display: block;
    height: 10px;
    width: 16px;   
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.img{
    background: url(../img/img.png) no-repeat;
    background-size: cover;
    min-height: 237px;  
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: #1c1f22;
    border-radius: 3px 3px 2px 2px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.75);
    box-sizing: border-box;
    border: 1px solid #2c345a;
}

.menu-nav{
    display: flex;
    justify-content: center;
    width: 70%;
}

.menu-link{
    display: block;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #a2acb0;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    white-space: nowrap;
}

.menu-link:hover{
    border-radius: 18px;
	background-color: #13486b;
    text-align: center;
}

.basket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    background: url(../img/img-10.png) 0 -115px no-repeat;
    color: #868e92;
    font-size: 12px;
    padding-left: 2%;
}

.basket input[name="text"]{
    border: none;
    background-color: #1c1f22;
    color: #0d5a8f;
    width: 17%;
}

.basket label{
    white-space: nowrap;  
}

.wrapper-block{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.find-avto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px 17px 17px 18px;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    border: solid 1px #9c9c9d;
    padding: 5px;
}

.wrapper-block a{
    display: flex;
    align-self:flex-end;
    color: #154467;
    font-size: 12px;
    font-style: italic;
}

.find-avto h4{
    color: #154467;
    font-size: 14px;
    text-align: center;  
}

.find-avto_form{
    display: flex;
    width: 410px;
    font-size: 10px;  
}

.disk{
    width: 50%;
}

.find-avto label{
    display: inline-block;
    word-wrap: break-word;
    width: 80px;
    margin-bottom: 10px;
}

.find-avto-menu{
    height: 17px;
    width: 101px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75); 
}

.disk-size{
    width: 60px;  
}

.colortext{
    color: #77858b;
}

.find-avto legend{
    color: #154468;
    font-weight: bold;
}

.tires{ 
    width: 50%;
}

.find-tires{
    border-radius: 18px 17px 17px 18px;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    border: solid 1px #9c9c9d;
    padding: 5px;
}

.tires-form{
    font-size: 10px;
    width: 194px;
}

.tires-form select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    height: 17px; 
    margin: 5px 5px 10px;
}

.tires-form select[name=menu145]{
    width: 52px;
}

.tires-form select[name=menu_2]{
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.75);
    width: 52px;
}

.tires-form select[name=menu12]{
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.75);
    width: 45px;
}

.name_r{
    margin-left: 31px;
}

.sizon label{
    display: flex;
    width: 30%;
    font-size: 10px;
    margin-left: 40px;
}

.sizon input[type="checkbox"]{
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border:none;
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.link{
    display: flex;
    justify-content: flex-end;
}

.find-disc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 18px 17px 17px 18px;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    border: solid 1px #9c9c9d;
    padding: 5px;
}

.find-disc_form{
    display: flex;
    width: 263px;
    font-size: 10px;
}

.disc-left{
    border-right: 1px solid #bdc6ca;
    font-size: 9px;
    width: 80%;
}

.disc-right{
    font-size: 9px;
    width: 30%;
}

.disc-left label{
    display: inline-block;
    width: 65px;
    margin-right: 5px; 
    margin-bottom: 5px;
}

.disc-left select[name=menu_3]{
    width: 52px;
}

.disc-left select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border: none;
    height: 17px;
    margin-top: 10px;
    width: 58px;
}

.disc-right label{
    word-wrap: break-word;
    width: 40px;
}

.disc-right select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border: none;
    height: 17px;
    width: 58px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.wrapper_main{
    display: flex;
    justify-content: space-between;
    
}

.menu_katalog{
    width: 19%;
    color: #114165;
}

.menu_katalog h4{
    background: url(../img/img-10.png) 0 -145px no-repeat;
    border-radius: 12px 12px 13px 13px;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 25px;
    width: 150px;
}

.menu_katalog h3{
    background: url(../img/img-10.png) 4px -177px no-repeat;
    border-radius: 12px 12px 13px 13px;
    border: solid 1px #79878d;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin-bottom: 15px;
    padding-left: 27px;
    width: 175px;
    white-space: nowrap;
}

.katalog-link{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    color: #465961;
}

.katalog-link:hover{
    color: #0c3256;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.menu_katalog li{
    list-style-type: circle;
    margin-left: 30px;
}

.brend{
    width: 19%;
    color: #114165;
}

.brend h4{background: url(../img/img-10.png) 3px -146px no-repeat;
    border-radius: 12px 12px 13px 13px;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    padding-left: 29px;
    width: 150px;
}
 
.brend h3{
    background: url(../img/img-10.png) 5px -176px no-repeat;
    border-radius: 12px 12px 13px 13px;
    border: solid 1px #79878d;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    padding-left: 29px;
    width: 175px;
    margin-bottom: 15px; 
}

.brend label{
    display: inline-block;
    vertical-align: middle;
    color: #869095;
    font-size: 12px;
    margin: 5px 0 5px 25px;
}

.brend input[type=checkbox]{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
	border: solid 1px #114165;
    color: #465961;
    height: 8px;
    margin-right: 15px;
    width: 8px;
}

.brend button[type=submit]{
    border-radius: 11px;
    border: solid 1px #a7abae;
    background-color: #103d61;
    color: #e5e9ea;
    font-size: 12px;
    height: 27px;
    margin-top: 10px;
    margin-left: 25px;
    width: 80px;
}

.goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #a9b8bf;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.goods img{
    min-width: 138px;
    min-height: 128px;   
}

.one{
    width: 33%;
}

.goods h4{
    color: #206988;
    font-size: 14px;
    font-weight: bold;
}

.goods p{
    white-space: nowrap;
}

.goods a{
    display: block;
    color: #114165;
    font-style: italic;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 10px;
}

.figure{
    display: inline-block;
    margin: 0;
}

.two{     
    width: 33%;
}

.three{
    width: 34%;
}

.four{
    width: 33%;  
}

.five{
    width: 33%; 
}

.six{
    width: 33%;  
}

.seven{
    width: 33%; 
}

.eight{
    width: 32%;  
}

.nine{
    width: 33%;
}

.brands{
    background: url(../img/img_2.png) 0 6px no-repeat,
                url(../img/img_2.png) 95px -26px no-repeat,
                url(../img/img_2.png) 205px -50px no-repeat,
                url(../img/img_2.png) 295px -81px no-repeat,
                url(../img/img_2.png) 370px -109px no-repeat,
                url(../img/img_2.png) 454px -138px no-repeat,
                url(../img/img_2.png) 530px -170px no-repeat,
                url(../img/img_2.png) 590px -194px no-repeat;
    height: 29px;
    margin: auto;
    width: 730px;    
}

.footer{
    margin-top: 20px;
	background-color: #213a4d;
	border: solid 1px #242a3c;
    text-align: center;
    padding: 20px 0;
}

.nav_footer{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-item{
    margin-left: 20px;  
}

.footer-link:after{
    display: inline-block;
	content: '';
    background-color: #8d989f;
    width: 1px;
    height: 15px;
    margin-left: 4px;
    vertical-align: middle;
}

.footer-link{
    display: block;
    color: #8d989f;
    height: 20px;
    line-height: 20px;
    font-size: 14px; 
}

.footer-link:hover{
    color: #52abcb;
}

.footer p{
    color: #6b4444;
    font-size: 10px;
}