body{
    background: #ffffff;
    display: block;
    height: 1310px;
    font-family: Tahoma, Arial, sans-serif;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

.wroper{
    height: 100%;
    position: absolute;
    left: 45px;
    right: 45px;
    top: 22px;
    width: 908px; 
}

address{
    height: 21px;
    margin-bottom: 10px;
    width: 100%;
}

.telephone{
    background: url(../img/img-3.png) 7px 0 no-repeat;
    color: #5e696d;
    font-family: Arial;
	font-size: 17px;
    float: left;
    height: 21px;
    padding-left: 30px;
    width: 285px;
}

.avtiriz{
    border-radius: 3px;
    background: url(../img/img-3.png) 2px -27px no-repeat #1c5e7f;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
    border: 2px solid #596d80;
    float: left;
    height: 26px;
    padding-left: 24px;
    margin-top: -5px;
    text-align: center;
    width: 470px;
}

.avtiriz input{
    box-sizing: border-box;
    color: #a7b0b3;
    display: inline-block;
    float: left;
    height: 13px;
    margin-top: -10px;
    text-align: justify;
    font-size: 7px;
    width: 114px;  
}

.avtiriz input[type=password]{
    margin-left: 6px;
    margin-right: 6px;
}

.avtiriz input[type=submit]{
    background: #1b5b7c;
    border: none;
    color: #ffffff;
    font-size: 10px;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.avtiriz a{
    color: #bfbfbf;
    display: block;
    font-size: 10px;
    font-style: normal;
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: -10px;
    padding-top: 3px;
}

.back{
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 19px;
    margin-left: 17px;
    position: relative;
    text-align: center;
    top: -2px;
    width: 73px;
}

.home:before{
    background: url(../img/img-3.png) 3px -60px no-repeat;
    content: '';
    display: block;
    height: 19px;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 16px;   
}

.map:before{
    background: url(../img/img-3.png) 3px -80px no-repeat;
    content: '';
    display: block;
    height: 19px;
    left: 20px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 16px;    
}

.envelope:before{
    background: url(../img/img-3.png) 3px -100px no-repeat;
    content: '';
    display: block;
    height: 19px;
    left: 40px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 16px;   
}

.menu{
    clear: both;
    display: block;
    height: 245px;
    width: 910px; 
}

nav{
    background-color: #1c1f22;
    border-radius: 3px 3px 2px 2px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.75);
    box-sizing: border-box;
    border: 1px solid #2c345a;
    display: inline-block;
    height: 32px;
    padding-left: 88px;
    position: relative;
    width: 910px;
}

nav li{
    display: inline-block;
    float: left;
    line-height: 26px;
    margin-top: -14px;
    margin-right: -12px;
}

nav li a{
    color: #a2acb0;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
}

nav ul>li:first-child{
    border-radius: 13px;
	background-color: #13486b;
    text-align: center;
    width: 130px;
}

.koshyk{
    background: url(../img/img-3.png) 0 -111px no-repeat;
    color: #868e92;
    display: inline-block;
    float:left;
    height: 32px;
    left: 650px;
    position: absolute;
    padding-left: 21px;
    top: 0;
}

.koshyk input[name="text"]{
    border: none;
    background-color: #1c1f22;
    color: #0d5a8f;
    line-height: 12px;
    width: 8px;  
}

.koshyk input[name="ntext"]{
    border: none;
    background-color: #1c1f22;
    color: #0d5a8f;
    line-height: 12px;
    width: 57px;
}

.koshyk p:last-child{
   margin-top: -36px;
   margin-left: 100px;
}

.koshyk p{
    margin-top: 5px;
}

.findPoAvto{
    border-radius: 18px 17px 17px 18px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    border: solid 1px #9c9c9d;
    box-sizing: border-box;
    float: left;
    height: 135px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
    width: 417px;
}

.findPoAvto h4{
    color: #154467;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left: 125px;
}

.dick{
    float: left;
    font-size: 9px;
    position: absolute;
    left: 5px;
    top: -4px;
}

.dick label{
    display: block;
    margin-right: 10px;
    word-wrap: break-word;
    width: 65px;
}

.findPoAvto select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    margin-top: -40px;
    margin-left: 10px;
}

.findPoAvto select[name=menu]{
    height: 17px;
    width: 101px;
}

.findPoAvto select[name=menu2]{
    height: 17px;
    width: 58px;
}

.dick select{
    border:none;
    position: absolute;
    margin-top: -19px;
    left: 81px;
}

.findPoAvto a{
    color: #154467;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 340px;
    top: 110px;
}

.colortext{
    color: #77858b;
}

.dick p{
    color: #154468;
    font-size: 10px;
    font-weight: bold;
}

.tires{
    float: left;
    font-size: 9px;
    position: absolute;
    left: 220px;
    top: -10px;
}

.tires label{
    display: block;
    word-wrap: break-word;
    width: 65px;
}

.tires select{
    border:none;
    position: absolute;
    left: 68px;
    margin-top: -9px;
}

.tires p{
    color: #154468;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    left: 140px;
}

.findTires{
    border-radius: 18px 17px 17px 18px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    box-sizing: border-box;
    border: solid 1px #9c9c9d;
    float:left;
    height: 138px; 
    margin-top: 6px;
    margin-right: 10px;
    position: relative;
    width: 194px; 
}

.findTires h4{
    color: #154467;
    position: absolute;
    top: -20px;
    left: 10px;
}

.findTires a{
    color: #154467;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 122px;
    top: 110px;
}

.dick2{
    position: absolute;
    left: 15px;
    top: 15px;  
}

.dick2 p{
    font-size: 9px;
}

.dick2 label{
    font-size: 9px;
}

.findTires select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    font-size: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.findTires select[name=menu145]{
    margin-left: 0;
    height: 17px;
    width: 52px;
}

.findTires select[name=menu_2]{
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.75);
    height: 17px;
    position: absolute;
    left: 85px;
    width: 52px;
}

.findTires select[name=menu12]{
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.75);
    height: 17px;
    margin: 0px;
    width: 45px;
}

.name_r{
    margin-left: 27px;
    margin-top: 6px;
}

.sizon{
    display: inline;
    position: absolute;
    left: 35px;
    top: 55px;
    width: 55px;  
}

.sizon label{
    font-size: 12px;
}


.sizon input[type="checkbox"]{
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border:none;
    margin-right: 5px;
    width: 9px;
    height: 10px;
}


.findDisc{
    border-radius: 18px 17px 17px 18px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75);
    border: solid 1px #9c9c9d;
    box-sizing: border-box;
    float:left;
    height: 138px; 
    margin-top: 7px;
    position: relative;
    width: 266px; 
}

.findDisc h4{
    color: #154467;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left: 10px;
}

.dick_find{
    border-right: 1px solid #bdc6ca;
    font-size: 9px;
    float: left;
    position: absolute;
    top: 30px;
    word-wrap: break-word;
    width: 140px;
}

.dick_find2{
    font-size: 9px;
    float: left;
    position: absolute;
    top: 30px;
    left: 170px;
    word-wrap: break-word;
    width: 80px;  
}

.findDisc a{
    color: #154467;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 200px;
    top: 111px;
}

.dick_find label{
    display: block;
    float: left;
    margin-left: 10px;
    word-wrap: break-word;
    width: 67px;
}
.dick_find select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border: none;
    height: 17px;
    margin-bottom: 15px;
    width: 58px;
}

.dick_find select[name=menu_3]{
    width: 52px;
}

.dick_find2 select{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border: none;
    height: 17px;
    width: 58px;
}

.menu_katalog{
    position: relative;
    float:left; 
    top: 0;
    left: -427px;
    width: 180px;   
}
.menu_katalog h4{
    background: url(../img/img-3.png) 0 -146px no-repeat;
    border-radius: 12px 12px 13px 13px;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
    box-sizing: border-box;
    color: #114165;
    font-size: 12px;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
    width: 181px;
}

.menu_katalog span{
    background: url(../img/img-3.png) 0 -177px no-repeat;
    border-radius: 12px 12px 13px 13px;
    border: solid 1px #79878d;
    box-sizing: border-box;
    color: #114165;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    padding-left: 25px;
    padding-top: 5px;
    margin-left: -20px;
    width: 148px;
}

.menu_katalog .tyre >li:first-child{
    list-style-type: none;
}

.menu_katalog .disk >li:first-child{
    list-style-type: none;
}

.menu_katalog .bolts >li:first-child{
    list-style-type: none;
}

.menu_katalog li{
    margin-left: -20px;
    margin-top: 4px;
}

.menu_katalog li a{
    color: #465961;
    margin-top: 15px;
    text-decoration: none;  
}

.menu_katalog li a:hover{
    color: #0c3256;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.brend{
    position: relative;
    float:right; 
    top: 0;
    width: 181px; 
}

.brend h4{background: url(../img/img-3.png) 0 -146px no-repeat;
    border-radius: 12px 12px 13px 13px;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
    box-sizing: border-box;
    color: #114165;
    font-size: 12px;
    height: 25px;
    padding-top: 5px;
    padding-left: 25px;
    width: 181px;
}
 
.brend p{
    background: url(../img/img-3.png) 5px -176px no-repeat;
    border-radius: 12px 12px 13px 13px;
    border: solid 1px #79878d;
    box-sizing: border-box;
    color: #114165;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    padding-left: 29px;
    padding-top: 5px;
    margin-left: 10px;
    width: 148px;
}

.brend label{
    color: #869095;
    margin-left: 15px; 
}

.brend input[type=checkbox]{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
	border: solid 1px #114165;
    color: #465961;
    height: 8px;
    font-size: 10px;
    margin-top: 12px;
    margin-right: 30px;
    width: 8px;
}


.brend button[type=submit]{
    border-radius: 11px;
    border: solid 1px #a7abae;
    background-color: #103d61;
    color: #e5e9ea;
    font-size: 13px;
    height: 27px;
    margin-top: 20px;
    margin-left: 29px;
    text-align: center;
    width: 80px;
}

.tovar{
    background: #a9b8bf;
    height: 628px;
    position: absolute;
    margin-top: 160px;
    margin-left: 192px;
    width: 527px;
}

.one{
    height: 180px;
    float: left; 
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.one p{
    background: url(../img/img-1.png) 0 0 no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.tovar figcaption span{
    color: #206988;
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    width: 138px; 
}

.one figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.tovar a{
    color: #114165;
    font-style: italic;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.two{
    height: 180px;
    float: left; 
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.two p{
    background: url(../img/img-1.png) 0 -137px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.two figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.three{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.three p{
    background: url(../img/img-1.png) 0 -274px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.three figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.four{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.four p{
    background: url(../img/img-1.png) 0 -411px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.four figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.five{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.five p{
    background: url(../img/img-1.png) 0 -549px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.five figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.six{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.six p{
    background: url(../img/img-1.png) 0 -687px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.six figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.seven{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.seven p{
    background: url(../img/img-1.png) 0 -825px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.seven figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.eight{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.eight p{
    background: url(../img/img-1.png) 0 -963px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.eight figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.nine{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 8px;
    text-align: center;
    width: 139px;  
}

.nine p{
    background: url(../img/img-1.png) 0 -1101px no-repeat;
    height: 128px;
    margin-bottom: 5px;
    width: 138px;
}

.nine figcaption{
    font-size: 14px;
    margin-bottom: -18px;
}

.brandLogo{
    background: url(../img/img-2.png) 0 6px no-repeat,
                url(../img/img-2.png) 95px -26px no-repeat,
                url(../img/img-2.png) 205px -50px no-repeat,
                url(../img/img-2.png) 295px -81px no-repeat,
                url(../img/img-2.png) 370px -109px no-repeat,
                url(../img/img-2.png) 454px -138px no-repeat,
                url(../img/img-2.png) 530px -170px no-repeat,
                url(../img/img-2.png) 590px -194px no-repeat;
    box-sizing: border-box;
    display: inline-block;
    height: 29px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
    top: 220px;
    width: 730px;    
}

footer{
	background-color: #213a4d;
	border: solid 1px #242a3c;
	height: 99px;
    position: relative;
    left: 5px;
    top: 235px;
    text-align: center;
    width: 908px;
}

footer li{
    display: inline-block;
    list-style-type: none;
    margin-right: 13px;
    text-align: center;
}

footer li a{
    border-right: 1px solid #8d989f;
    color: #8d989f;
    height: 14px;
    padding-right: 12px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}

.nav_footer li:last-child a{
    border-right: none;
}

footer li a:hover{
    color: #52abcb;
}

footer div{
    color: #6b4444;
    font-size: 9px;
}

